<div class="page_not_found">
		<p>Oops..</p>
		<span>404 error</span> 
		<p>Page Not Found</p>
</div>

<div class="notFoundBtn">
	<button class="goPrevious"><i class="ion-chevron-left"></i><i class="ion-chevron-left"></i>&nbsp;&nbsp;Terug</button>
</div>

<div class="row" id="HrBlock">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<hr class="hrStyle">
	</div>
</div>