html,
body {
 /* height: 100%;*/
 overflow:scroll;
 height:100%;
 -ms-overflow-style: -ms-autohiding-scrollbar;
}



.content {

  margin: auto;
  padding-top: 5em;
  padding: 5em 15px 15px 15px;
  font-family: 'Pragati Narrow', sans-serif;
  font-size:16px;
 -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}

#Button {
	margin-top: 20px;
	padding-left: 11px !important;
}

.error{
	font-size: 12px;
	color: #e83d43;
}

::-webkit-scrollbar { 
    display: none; 
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

