

#fb-template {
  /* display: none;*/
}

.FormGenContent{
	padding-top:20px ;
}

#FormGenBtnBlock{
	padding-bottom: 20px;
}
.template-textarea-wrap {
  display: block !important;
}



.ion-log-out, .ion-log-in{
		font-size: 18px;
}




.form-rendered .build-wrap {
  display: none;
}

.render-wrap {
  display: none;
}

.form-rendered .render-wrap {
  display: block;
}

#edit-form {
  display: none;
  float: right;
}

.form-rendered #edit-form {
  display: block;
}

.iFrameLinkInput{
	border: none !important;
	padding: 3px !important;
	width: 350px !important;
	float: left !important;
	text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

.iFrameLink{
	width: 400px;
}


input[type=text], input[type=date], textarea, input[type=email], input[type=password] {
	width: 100%;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=text], textarea, input[type=email], input[type=password] {
		padding: 6px 12px;
}

input[type=date] {
	padding: 3px 5px;
}



.field-label{
	font-size: 18px !important
}

.form-control {
	padding: 3px 12px !important;
	font-size: 16px  !important;
}

div#form-error {

    background-color: #f2dede;
    padding-top: 10px;
    margin: 15px 15px 5px 15px;
    border: 1px solid #b94a48;
    border-radius: 4px;
}

div#form-error strong, div#form-error ul li {
    line-height: 140%;
    color: #b94a48;
    font-size: 14px;
}



.form-builder-dialog{
	overflow:hidden !important;
}

.ion-arrow-left-c{
	font-size:18px !important;
}


.form-wrap.form-builder .empty .frmb {
	   min-height: 130px !important;
}

#BtnFormBlock{

	margin-top: 20px;
	margin-bottom: 25px;
}

#Forms {
	padding: 15px;
}


table {
	border-radius: 4px;
}

th, tr {
	border-bottom:1px solid #a5a6a7;
	height: 35px;
	cursor: pointer;
	text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}


#Forms > table > tr:hover {
	background: #76A4A0 !important;
}

th {
	font-size:19px;
	text-shadow: 1px 1px 1px rgba(109, 109, 109, 1);
	padding: 6px 15px 5px 15px !important;
	background: #a5a6a7;
	color: #ffffff;
	font-weight: normal;
}

td{
	/*padding:5px 15px !important;*/
}
 td:nth-child(1), td:nth-child(2),td:nth-child(3), td:nth-child(4) {
	padding-top:12px !important;
}

tr:nth-child(odd) {background: #FFF}
tr:nth-child(even) {background: #edeeef}



@media screen and (min-width: 768px) {
    #navTitle{
				display:none;
		}
		
		.container-fluid {
		    padding-left: 0px !important; 
		}
}


#Form, #viewContent > h3 {
	padding-left:15px;
}