.ion-close {
		float: right;
		font-size: 14px;
		color: #b94a48;
}
.ion-close:hover {
		cursor: pointer;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.notFoundBtn i{
		font-size: 12px;
}

.iFrameLink > .ion-ios-copy-outline {
	font-size: 21px;
}

.iFrameLink > .ion-ios-copy-outline:hover {
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	color: white;
}

.ion-trash-a{
	font-size:22px;
	color: #e83d43;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.ion-trash-a:hover{
	color: #fff;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.ion-edit{
		color: #1d92af;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.ion-edit:hover{
	color: #fff;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.ion-android-checkbox-outline{
	font-size:22px;
}
