
#StyleSave{
	margin-top: 35px;
}



#StyleSave>div >#errorText{

		float: right;
		width: 200px;
		margin-left: 20px;
		background-color: #f2dede;
    padding: 3px 7px 3px 7px;
    border: 1px solid #b94a48;
    border-radius: 4px;
    color: #b94a48;
    font-size: 16px;
}

#StijlFontColor, #StijlBg{
	
		width: 100% !important;
		height: 30px !important;
		padding-left: 15px !important;
		font-size: 18px !important;
}

#fontSelect > span {
	padding-left: 15px !important;
}


.fontSelect .arrow-down {
    position: absolute;
    right: 7px !important;
    top: 12px !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    border-top: 6px solid #333333f2 !important;
}


#icon-bg-color, #icon-font-color{
	height: 18px !important;
	margin:2px !important;
}

#StijlBgDiv > span, #StijlFontColorDiv > span{
	padding: 2px 5px;
}

#StijlBgDiv, #StijlFontColorDiv{

	padding-left: 15px;
}

.fontSelect {
    position: relative;
    padding: 0px !important;
    height: 30px !important;
    line-height: 28px;
    cursor: pointer;
    margin: 0px !important;
    width: 205px !important;
    border-radius: 3px !important;
}

#StijlFontSize, #StijlFontWeight {
		width: 205px !important;
}

#StijlFontSize:hover, #StijlFontWeight:hover, #stylePlatform:hover {
	cursor: pointer;
}

#StyleContent .row {
	padding-top:8px;
}

#stylePlatform {
	padding-left: 15px;
	padding-top:3px;
}